@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: black;
    background-image: url('../imagens/favelaBarberlogo-gg.jpg');
    background-repeat: no-repeat;
    
    background-attachment: fixed;
}

header {
    background-image: linear-gradient(to bottom, rgb(70, 70, 70), black );
    min-height: 150px;
    text-align: center;
    margin-bottom: 10px;
   
}

header > h1{
    color: white;
    font-family:'Pacifico', cursive;
    text-shadow: 2px 2px 0px black;
    font-size: 3em;
}

header > p{
    color: rgba(255, 255, 255, 0.733);
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
}



nav a{
    color: white;
    background-color: rgba(77, 75, 75, 0.493);
    font-size: 1.2em;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

nav > a:hover{
    background-color: lightgrey;
    color: black;
    text-decoration: underline;
    border-radius: 5px;

}

main {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article > p{
    text-align: justify;
}

main img{
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.473)
}

footer{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: .9em;
    

}


